@using Westwind.AspNetCore.Markdown
@model MyPortfolioWebApp.Models.Board
@inject SignInManager<CustomUser> SignInManager
@inject UserManager<CustomUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<section id="board" class="section">
    <div class="container section-title" data-aos="fade-up">
        <h2>자유게시판</h2>
        <p>자유롭게 의견을 남기는 공간입니다.</p>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div>
            <h4>게시글</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Writer)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Writer)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Contents)
                </dt>
                <dd class="col-sm-10">
                    @* @Html.DisplayFor(model => model.Description) *@
                    @Markdown.ParseHtmlString(Model.Contents)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PostDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PostDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ReadCount)
                </dt>
                @* <dd class="col-sm-10"> *@
                @*     @(Model.ReadCount ?? 0) *@
                @* </dd> *@
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ReadCount)
                </dd>
            </dl>
        </div>
        <div>
            @if (SignInManager.IsSignedIn(User))
            {
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-sm btn-warning">수정</a>
                <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-sm btn-danger">삭제</a>
            }
            <a asp-action="Index" class="btn btn-sm btn-success">목록</a>
        </div>
    </div>
</section>